---
---

@import "{{ site.theme }}";

/* change title font */
.page-title, 
h1,
h2,
h3 {
  font-family: 'Arial', serif !important;
}

/* change body font */
body {  
  font-family: 'Arial', serif; 
  margin-bottom: 0 !important;
}

/* customize navbar */
.navbar a {  
  margin-right: 20px;
  font-weight: bold;
}

/* customize header */
html body header.site-header {
  background-color: #1a73e8 !important; 
}

/* customize footer */
html body footer.site-footer {
  background-color: #1a73e8 !important; 
}

/* remove footer text */
html body footer.footer {
  display: none !important;
}






