---
---

@import "{{ site.theme }}";

/* change title font */
.page-title, 
h1,
h2,
h3 {
  font-family: 'Arial', serif !important;
}

/* change body font */
body {  
  font-family: 'Arial', serif; 
  margin-bottom: 0 !important;
}

/* customize navbar */
.navbar a {  
  margin-right: 20px;
  font-weight: bold;
}

/* customize header */
.header-wrap {
  background-color: #1a73e8; 
}

/* customize footer */
.footer-wrap {
  display: none;
}






