---
---

@import "{{ site.theme }}";

/* change title font */
.page-title, 
h1,
h2,
h3 {
  font-family: 'Arial', serif !important;
  text-shadow: none !important;
}

/* change body font and remove bottom rectangle */
body {  
  font-family: 'Arial', serif !important; 
  min-height: 100vh !important;
}

/* customize navbar */
.navbar a {  
  margin-right: 20px;
  font-weight: bold;
}

/* cget rid of borders on main content */
#main_content_wrap {
  border-top: 0px;
  border-bottom: 0px;
}

/* change header colour */
#header_wrap {
  background: #1a73e8 !important; 
}


